<!DOCTYPE html>
<html>
  <head>
    <title><%= message %></title>
    <link rel="stylesheet" href="/stylesheets/error.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
  </head>
  <body>
    <header>
      <%- include("nav") %>
    </header>
    <div class="error-container">
      <p class="error-status"><%= error.status %> ERROR</p>
      <div class="error-details">
        <p class="error-message"><%= message %></p>
        <pre class="error-stack"><%= error.stack %></pre>
      </div>
    </div>
  </body>
</html>
